html, body {
	background-color: black;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

h3 {
	margin: 5px;
}

h4 {
	margin: 0px;
	font-weight: normal;
	text-align: center;
	line-height: 150%;
}

#layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}

#rows {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow: auto;
}

#toggles {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(40% + 20px);
	height: calc(100% - 55px);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1px;
	opacity: 1;
	box-sizing: border-box;
	padding: 20px 20px 60px 20px;
	overflow: auto;
	transition: opacity 50ms 100ms linear;
}

#gutter {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 40%;
	width: 50px;
	height: 100%;
	flex-shrink: 0;
	background: black;
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%);
}

#gutter div {
	position: relative;
	width: 20px;
	height: 100%;
	position: relative;
	left: 20px;
	border-right: 1px solid rgba(255,255,255,0.2);
	cursor: col-resize;
}

#gutter div:hover {
	border-right: 1px solid rgba(255,255,255,0.4);
	background-color: rgba(255, 255, 255, 0.1);
}

#gutter div[data-tooltip]::before {
	content: attr(data-tooltip);
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-25%);
	background-color: #222;
	padding: 4px 8px;
	border-radius: 4px;
	box-shadow: 0 5px 10px black;
	white-space: nowrap;
	font-size: 12px;
	color: #777;
	opacity: 1;
	transition: color 100ms linear, background-color 100ms linear;
	pointer-events: none;  /* Make sure the tooltip doesn't interfere with other interactions */
}

#gutter div[data-tooltip]:hover::before {
	background-color: #555;
	color: #fff;
}

@keyframes gutter_tease {
	0%   {
		transform: translateX(-40px);
		border-right: 1px solid #ffe300b5;
	}
	10% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(40px);
	}
	30%   {
		transform: translateX(-20px);
	}
	40% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(20px);
	}
	60%   {
		transform: translateX(-5px);
	}
	70% {
		transform: translateX(0px);
	}
	80% {
		transform: translateX(5px);
		border-right: 1px solid #ffe300b5;
	}
	90% {
		transform: translateX(0px);
	}
}

#image-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
	box-sizing: border-box;
	margin-left: calc(40% + 50px);
	margin-top: 20px;
	margin-right: 60px;
	width: 100%;
}

#image-container::after {
	/* makes space between the last item and the bottom of the container */
	content: '';
	display: block;
	height: 40px;
	width: 100%;
}

#alert {
	position: fixed;
	z-index: 1;
	opacity: 0;
	top: 10px;
	right: -52px;
	padding: 10px;
	color: #00ffe6;
	background-color: #008679;
	border: 1px solid #00ffe6;
	border-radius: 3px;
	box-shadow: 0 5px 20px #0000007d;
}

#alert.left {
	left: -52px;
	right: initial;
}

#alert.show {
	right: 12px;
	opacity: 1;
	transition: all 100ms ease-in;
}

#alert.left.show {
	left: 12px;
	right: initial;
	opacity: 1;
	transition: all 100ms ease-in;
}

.divider {
	border-bottom: 1px solid #333;
	margin: 0px 40px 10px 0;
}

#toggles.hide {
	opacity: 0;
	transition: opacity 50ms linear;
}

#options_info,
#options_prompts,
#options_artist_sort,
#options_tag_sort {
	display: flex;
	align-items: center;
	padding: 2px 0;
	margin-left: 4px;
	margin-bottom: -2px;
}

#options_prompts {
	display: none;
}

#options_prompts > span:first-child,
#options_artist_sort > span:first-child,
#options_tag_sort > span:first-child {
	margin-left: 21px;
}

#options_tag_sort {
	margin-bottom: 6px;
}

#options_info {
	margin-left: 0;
	padding: 0;
	margin-bottom: 12px;
	cursor: pointer;
}

#toggles #options_info .count {
	padding: 4px 8px 5px 8px;
	border-radius: 3px;
	color: #000;
	font-weight: bold;
	background-color: #00d5c0;
	opacity: 1;
}

#toggles #options_info:hover .count {
	opacity: 0.8;
}

#options_info i {
	box-sizing: border-box;
	padding: 1px 7px 1px 5px;
	background-color: #0000001a;
	border: 1px solid #00000024;
	border-radius: 2px;
	font-size: 12px;
}

#second_model {
	margin: -5px 0 10px 0;
}

#second_model span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 5px;
	text-align: center;
	color: #fff;
	opacity: 0.5;
}

#second_model div {
	display: inline-flex;
	width: min-content;
	margin-top: 5px;
	align-items: center;
	gap: 5px;
	flex-grow: 1;
	position: relative;
	border: 1px solid #ffe300;
	border-radius: 50px;
	box-sizing: border-box;
	padding: 0px 10px;
	cursor: pointer;
	background-color: rgba(255, 227, 0, 0.2);
	opacity: 0.8;
}

#second_model div:hover {
	opacity: 1;
}

#second_model div::after {
	content: '';
	min-width: 10px;
	height: 6px;
	background-color: #ffe300;
	clip-path: polygon(5% 0, 95% 0, 100% 15%, 55% 100%, 45% 100%, 0 15%);
	position: relative;
	z-index: 0;
	left: -15px;
	margin-right: -15px;
	/* the arrow isn't clickable, so we position it over the select */
	/* and the selects' min-widths proves extra space for it */
}

#second_model select {
	appearance: none;
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0;
	padding: 0 1px 0 0;
	border: none;
	outline: none;
	background-color: transparent;
	color: #ffe300;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
}

#second_model select::-ms-expand {
	display: none;
}

#second_model select {
	min-width: 16ch;
}

label {
	display: flex;
	gap: 8px;
	height: 22px;
	margin: 0 20px 6px 0;
	white-space: nowrap;
	opacity: 0.8;
	cursor: pointer;
	color: #fff;
}

label.isChecked {
	opacity: 1;
}

label:hover {
	opacity: 1;
}

label.top_all {
	font-weight: bold;
}

label.top_control {
	color: #ffe300;
}

label.top_control.warning {
	color: #ff0000;
}

label.no_matches {
	opacity: 0.3;
	cursor: default;
}

label.category {
	height: initial;
	color: #00d5c0;
	font-weight: bold;
	padding-bottom: 6px;
	margin: 10px 40px 5px 0;
	border-bottom: 1px solid #333;
	opacity: 1;
}

label.hidden {
	display: none;
}

label .most_used_indicator {
	display: inline-block;
	width: 14px;
	height: 14px;
	visibility: hidden;
	margin-right: -22px;
	position: relative;
	top: 1px;
	left: 4px;
	color: #ffe300;
	font-style: normal;
}

#toggles.start label:not(.top_control) span {
	display: none;
}

#toggles.start label:not(.top_control)::after {
	content: '';
	width: 200px;
	background: #444;
	background: linear-gradient(110deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.1) 40%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.05) 100%);
	border-radius: 50px;
    animation: loading-labels 2s linear infinite;
}

#toggles.start label:nth-child(3n):not(.top_control)::after {
	width: 150px;
	background: linear-gradient(110deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.1) 60%, rgba(255,255,255,0.1) 60%, rgba(255,255,255,0.05) 100%);
}

#toggles.start label:nth-child(3n+1):not(.top_control)::after {
	width: 180px;
	background: linear-gradient(110deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.1) 40%, rgba(255,255,255,0.05) 100%);
}

@keyframes loading-labels {
	0% { background-position: 0px 0 }
	100% { background-position: 400px 0 }
}

input[type="checkbox"] {
	appearance: none;
	display: grid;
	width: 17px;
	height: 17px;
	margin: 0;
	transform: translateY(0px) translateX(0px);
	border: 1px solid #666;
	background-color: #444;
	color: #444;
	border-radius: 3px;
	place-content: center;
	box-shadow: inset 0px 3px 5px #00000045;
	/* looks nice but too slow on Chrome */
	/* transition: all 100ms cubic-bezier(.35,1.63,.84,1.64); */
}

label.category input[type="checkbox"] {
	border-color: rgba(0, 213, 192, 0.5);
}

label.top_control input[type="checkbox"] {
	border-color: rgba(255, 227, 0, 0.5);
}

label.warning input[type="checkbox"] {
	border-color: rgba(255, 0, 0, 0.5);
}

label span:first-of-type {
	opacity: 0.8;
}

label.category span:first-of-type {
	opacity: 1;
}

label.isChecked span:first-of-type {
	opacity: 1;
}

input[type="checkbox"]:checked {
	width: 23px;
	height: 23px;
	transform: translateY(-4px) translateX(-3px);
	margin-bottom: -6px;
	margin-right: -6px;
	border: none;
	background-color: currentColor;
	color: currentColor;
}

input[type="checkbox"]::before {
	content: "";
	width: 18px;
	height: 18px;
	clip-path: polygon(43% 78%, 39% 78%, 18% 56%, 18% 53%, 26% 45%, 30% 45%, 41% 56%, 69% 25%, 73% 25%, 82% 34%, 82% 36%);
	transform: scale(0);
	background-color: #000;
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

#toggles #artistsShown {
	display: flex;
	margin: -4px 0 8px 25px;
	padding: 3px 0;
	white-space: nowrap;
	position: relative;
	top: 1px;
	color: #ffe300;
	opacity: 0.8;
}

#toggles #artistsMatching {
	opacity: 0.8;
	cursor: default;
}

#toggles .count {
	opacity: 0.5;
	min-width: 5ch;
}

#toggles .link {
	display: inline-block;
	cursor: pointer;
	box-sizing: border-box;
	margin-left: 8px;
	padding: 5px 3px 4px 3px;
	border-radius: 4px;
	font-size: 20px;
	opacity: 0.7;
}

#toggles .link.selected {
	cursor: default;
	background-color: rgba(255, 227, 0, 0.3);
	border: 1px solid rgba(255, 227, 0, 0.5);
	opacity: 1;
}

#toggles #sortAR.link.selected {
	/* you can re-randomize */
	cursor: pointer;
}

#toggles .link:hover {
	opacity: 1;
}

#second_model:hover::after,
#toggles .link:hover::after {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 200px;
	padding: 4px 0 7px 0;
	border-radius: 3px;
	color: #000;
	font-weight: bold;
	background-color: #00d5c0;
	font-size: 16px;
	text-align: center;
	opacity: 1;
}

#second_model:hover::after {
	content: 'Compare to SDXL 1.0';
}

#infoI:hover::after {
	content: 'instructions';
}

#infoA:hover::after {
	content: 'about';
}

#infoX:hover::after {
	content: 'export';
}

#promptA:hover::after {
	content: 'artwork';
}

#promptP:hover::after {
	content: 'portraits';
}

#promptL:hover::after {
	content: 'landscapes';
}

#sortAA:hover::after {
	content: 'sort by alpha';
}

#sortAR:hover::after {
	content: 'sort by random';
}

#sortTA:hover::after {
	content: 'sort by alpha';
}

#sortTC:hover::after {
	content: 'sort by count';
}

#info_switcher {
	display: flex;
	flex-direction: row;
	background-color: #111;
}

#info_switcher h2 {
	margin: 0;
	padding: 15px;
	white-space: nowrap;
	font-size: 16px;
	cursor: pointer;
}

#info_switcher h2:hover {
	background-color: #222;
}

#info_switcher h2.selected {
	background-color: #222;
	cursor: default;
}

#info_closer {
	position: absolute;
	right: 0;
	font-weight: normal;
	color: #555
}

#information {
	display: none;
	flex-direction: column;
	z-index: 2;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 650px;
	height: 70%;
	box-sizing: border-box;
	border: 4px solid #ffe30080;
	border-radius: 20px;
	box-shadow: 0 10px 20px #000;
	background-color: #222;
	overflow: hidden;
}

#information.shown {
	display: flex;
}

.information_section {
	display: none;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	overflow-y: scroll;
	line-height: 160%;
}

.information_section.selected {
	display: flex;
}

.information_section h2, .information_section h3, .information_section ul{
	margin-top: 0;
	margin-left: 0;
}

.information_section h3 {
	margin-bottom: 10px;
	font-size: 16px;
	color: #ffe300;
}

.information_section a {
	color: #00ffe7;
	font-weight: bold;
	text-decoration: none;
}

.information_section a:hover {
	color: #fff;
}

.information_section i {
	padding: 0 4px;
	margin: 0 2px;
	border-radius: 4px;
	font-weight: normal;
	font-style: normal;
	background-color: #ffe3003b;
}

.information_section b {
	padding: 0 4px;
	margin: 0 2px;
	border-radius: 4px;
	font-weight: normal;
	font-style: normal;
	background-color: #00b7ff3b;
}

.information_section .buttons {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.information_section .buttons div {
	display: inline-block;
	margin-right: 10px;
	padding: 4px 8px;
	opacity: 0.8;
	border: 1px solid #ffe300;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
	background-color: black;
	color: #ffe300;
	font-size: 12px;
	font-weight: bold;
}

.information_section .buttons div:hover {
	opacity: 1;
	transition: opacity 100ms linear;
}

#info_search_input {
	width: 100%;
	margin-bottom: 20px;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 4px;
	border: none;
	font-size: 16px;
}

#info_search_output {
	padding: 8px 0 0 8px;
	flex-grow: 1;
	/* min-height is needed for flex-grow to to work */
	min-height: 35px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	background-color: #333;
	border-radius: 4px;
	box-sizing: border-box;
}

#info_search_output label {
	opacity: 0.8;
	padding: 5px;
	cursor: pointer;
}

#info_search_output label:hover {
	opacity: 1;
}

#info_search_output label.hidden::after {
	content: 'uncommon tag';
	margin-left: 10px;
	position: relative;
	bottom: 1px;
	padding: 0px 6px;
	box-sizing: border-box;
	font-size: 12px;
	color: #00ffe5;
	background-color: black;
	border-radius: 2px;
}

#info_search_output i {
	display: none;
}

#info_search_output .count {
	opacity: 0.5;
}

#info_search_output input {
	margin-right: 10px;
}

#information_export textarea {
	width: 90%;
	height: 150px;
	margin-bottom: 10px;
	resize: vertical;
	background-color: #777;
	border: none;
}

#information_export #export_edits_list,
#information_export #export_artists_list {
	background-color: #bbb;
	cursor: not-allowed;
}

#information_export #import_favorites_button,
#information_export #delete_edits_button {
	color: #f77;
	border: 1px solid #f77;
}

#information_export #import_favorites_button:hover,
#information_export #delete_edits_button:hover {
	opacity: 1;
	color: #f77;
}

#filtersHidingAll {
	display: none;
	font-size: 24px;
	color: #444;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	margin: 0 40px;
	line-height: 220%;
}

#filtersHidingAll.shown {
	display: block;
}

.image-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	width: 256px;
	background-color: #222;
	border-radius: 2px;
	margin: 0 5px 20px 5px;
	box-shadow: 0 1px 0px #ffffff3d;
	border: 1px solid black;
	overflow: hidden;
}

.image-item.hidden {
	display: none;
}

.image-item > span {
	height: 84px;
	position: relative;
	display: block;
	width: 100%;
}

.image-item h3 {
	display: flex;
	justify-content: center;
	opacity: 0.8;
	cursor: pointer;
	height: 22px;
}

.image-item h4 {
	width: 258px;
	height: 52px;
	opacity: 0.5;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	left: -1px;
	padding-bottom: 6px;
	box-sizing: border-box;
}

.image-item h3:hover {
	opacity: 1;
}

.image-item h4:hover {
	z-index: 1;
	height: initial;
	opacity: 1;
	background-color: #222;
	border-bottom: 1px solid #111;
	color: #aaa;
}

.image-item h4.edit_mode {
	z-index: 1;
	top: 40px;
	width: 206px;
	height: 304px;
	box-sizing: border-box;
	padding: 6px 4px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #400;
	border-radius: 4px;
	border: 2px solid #b30000;
	box-shadow: inset 0px 3px 4px #00000096;
	text-align: left;
	font-size: 14px;
	color: #f88;
	opacity: 1;
	cursor: default;
}

.image-item h4.edit_mode label {
	cursor: pointer;
}

#edit_mode_helper {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	padding: 10px 0 0 20px;
	background-color: white;
	color: #777;
}

#edit_mode_helper span {
	white-space: nowrap;
	cursor: pointer;
}

.image-item .firstN {
	margin-right: 8px;
	white-space: nowrap;
}

.image-item .lastN {
	white-space: nowrap;
}

.image-item > div {
	width: 256px;
	height: 256px;
	text-align: center;
	border: 1px solid black;
	border-radius: 2px;
	overflow: hidden;
}

.image-item .imgTools {
	position: relative;
	height: 100%;
	background-color: #666;
	opacity: 0;
	transition: opacity 200ms 50ms linear;
}

.image-item:hover .imgTools {
	opacity: 1;
}

.image-item .imgTools > div,
.image-item .imgTools > a {
	position: absolute;
	opacity: 0.7;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-color: #333;
	border-radius: 0;
}

.image-item .imgTools > div:hover,
.image-item .imgTools > a:hover {
	opacity: 1;
}

.image-item .imgTools span {
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	background-color: #545454;
	box-shadow: 0 0 5px #777;
	line-height: 155%;
}

.image-item .imgTools > div.art_prev {
	display: none;
	bottom: 0;
	left: 0;
	border-top-right-radius: 4px;
}

.image-item .imgTools > div.art_next {
	bottom: 0;
	right: 0;
	border-top-left-radius: 4px;
}

.image-item .imgTools > div.art_edit {
	top: 0;
	right: 0;
	border-bottom-left-radius: 4px;
}

.image-item .imgTools > a.art_search {
	bottom: 0;
	left: 0;
	border-top-right-radius: 4px;
}

.image-item .imgTools > div.art_star {
	top: 64px;
	left: 0px;
	width: 256px;
	height: 128px;
	background-color: initial;
}

.image-item .art_star span {
	font-size: 48px;
	width: 60px;
	height: 60px;
	line-height: 120%;
	padding: 0;
	filter: grayscale(100%);
	background-color: initial;
	box-shadow: none;
}

.image-item .imgTools > div.art_set {
	bottom: 0;
	left: 60px;
	width: 136px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 13px;
	box-sizing: border-box;
	font-size: 12px;
}

.image-item .art_set span {
	position: relative;
	display: block;
	width: 100%;
	height: 24px;
	border-radius: 4px;
	box-sizing: border-box;
	padding-top: 3px;
	cursor: pointer;
	text-align: center;
	background-color: #666;
	white-space: nowrap;
	overflow: hidden;
}

.image-item .imgBox {
	position: relative;
	z-index: 0;
	top: -256px;
	left: 0px;
	width: 256px;
	aspect-ratio: 1 / 1.33;
	overflow: hidden;
	border-radius: 2px;
	background-color: #111;
	text-align: left;
	cursor: pointer;
	animation-name: reduce;
	animation-duration: 100ms;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-direction: normal;
}

.image-item .deprecated {
	color: #888;
	text-align: center;
	display: block;
	padding: 70px 40px 0px 40px;
}

.image-item.hover .imgBox {
	display: flex;
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 20px;
	width: 40%; /* this will be overwritten by stylesheet added by JS */
	cursor: not-allowed;
	transform: translateY(20px);
	animation-name: enlarge;
	animation-duration: 100ms;
	animation-timing-function: east-out;
	animation-iteration-count: 1;
	animation-direction: normal;
}

.image-item .imgBox.hidden {
	display: none;
}

@keyframes enlarge {
	0%   {
		opacity: 0;
	transform: translateY(0px);
	}
	100% {
		opacity: 1;
	transform: translateY(20px);
	}
}

@keyframes reduce {
	0%   {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.image-item .img {
	display: inline-block;
	box-sizing: border-box;
	top: 0;
	width: 256px;
	aspect-ratio: 1/1;
	position: absolute;
	color: #777;
	background-color: #222;
	vertical-align: middle;
	line-height: 150%;
	font-size: 14px;
}

.image-item .img.censored {
	filter: blur(20px);
}

.image-item .imgBox .img.hidden {
	display: none;
}

.image-item .imgBox .img.missing {
	border: 16px solid #222;
}

.image-item .imgBox .model_name {
	line-height: 130%;
}

.image-item.hover .imgBox .img {
	width: 100%;
	z-index: 1;
	box-shadow: -10px 10px 20px rgba(0,0,0,0.6);
}

.image-item.hover .imgBox .img.hidden {
	display: initial;
	width: 33%;
	height: 25%;
	position: relative;
	top: 75%;
	box-shadow: initial;
	z-index: 0;
}

.image-item.hover .imgBox .img.hidden span {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 12%;
	text-align: center;
	color: #777;
}

.image-item.favorite {
	border: 1px solid #ffc10080;
	box-shadow: 0 0px 15px #ffe20045;
}

.image-item.favorite .art_star span {
	filter: grayscale(0%);
}

.image-item.edit_mode {
	border: 1px solid #f00;
	box-shadow: 0 0px 15px #ff0000b8;
}

#layout.edit_mode #toggles {
	width: calc(100% - 40px);
	transition: width 200ms ease-out;
}

#layout.edit_mode #gutter {
	left: calc(100% - 40px);
	transition: left 200ms ease-out;
}

#layout.edit_mode #image-container {
	opacity: 0.2;
	margin-left: 100%;
	overflow: hidden;
	transition: width 200ms ease-out;
}

#edit_most_used {
	color: #ffe300;
	opacity: 0.8;
	cursor: pointer;
	margin: 2px 0 10px 27px;
}

#edit_most_used:hover {
	opacity: 1;
}

#edit_most_used.hidden {
	display: none;
}

#prompt_builder {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
	z-index: 2;
	height: 54px;
	padding: 10px;
	border-top: 1px solid #333;
	box-sizing: border-box;
	background-color: #000;
	transition: height 100ms 0ms ease-out;
}

#prompt_builder.show {
	height: 97px;
	transition: height 200ms 200ms ease-out;
}

#prompt_selector {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

#prompt_selector > div {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	flex-grow: 1;
	font-size: 12px;
	overflow: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#prompt_selector div::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

#prompt_builder_title {
	padding-left: 9px;
	color: #777;
	white-space: nowrap;
	cursor: default;
}

.prompt_artist {
	display: flex;
	gap: 5px;
	align-items: center;
	flex-direction: row;
	padding: 5px 5px;
	border-radius: 50px;
	border: 1px solid #333;
	background-color: #222;
}

.prompt_artist_count {
	width: 20px;
	text-align: center;
	border-radius: 50px;
	white-space: nowrap;
	color: #ffe300;
	font-weight: bold;
	cursor: default;
}

.prompt_artist_left,
.prompt_artist_right,
.prompt_artist_remove {
	padding: 0px 6px;
	opacity: 0.8;
	border: 1px solid rgba(0, 255, 230, 0.5);
	border-radius: 50px;
	cursor: pointer;
	white-space: nowrap;
	background-color: black;
	color: #00ffe6;
	font-weight: bold;
}

.prompt_artist_left:hover,
.prompt_artist_right:hover,
.prompt_artist_remove:hover {
	opacity: 1;
	transition: opacity 100ms linear;
}

#prompt_artist_add {
	display: flex;
	align-items: center;
	cursor: pointer;
}
#prompt_artist_add div {
	padding: 0px 10px;
	border: 2px solid rgba(0, 255, 230, 0.5);
	border-radius: 50px;
	color: #00ffe6;
	white-space: nowrap;
	opacity: 0.7;
}
#prompt_artist_add:hover div {
	opacity: 1;
}

.prompt_artist_remove {
	border-color: rgba(222, 0, 0, 0.5);
	color: #f00;
}

.prompt_artist_remove span {
	display: block;
}

.prompt_artist_intensity,
.prompt_artist_combine {
	display: flex;
	align-items: center;
	gap: 5px;
	height: 21px;
	position: relative;
	border: 1px solid #00ffe6;
	border-radius: 50px;
	box-sizing: border-box;
	padding: 0px 10px;
	cursor: pointer;
	background-color: rgba(0, 255, 230, 0.2);
	opacity: 0.8;
}

.prompt_artist_intensity:hover,
.prompt_artist_combine:hover {
	opacity: 1;
}

.prompt_artist_intensity::after,
.prompt_artist_combine::after {
	content: '';
	min-width: 10px;
	height: 6px;
	background-color: #00ffe6;
	clip-path: polygon(5% 0, 95% 0, 100% 15%, 55% 100%, 45% 100%, 0 15%);
	position: relative;
	z-index: 0;
	left: -15px;
	margin-right: -15px;
	/* the arrow isn't clickable, so we position it over the select */
	/* and the selects' min-widths proves extra space for it */
}

.prompt_artist select {
	appearance: none;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 21px;
	margin: 0;
	padding: 0 1px 0 0;
	border: none;
	outline: none;
	background-color: transparent;
	color: #00d5c0;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
}

.prompt_artist select::-ms-expand {
	display: none;
}

.prompt_artist_intensity select {
	min-width: 4ch;
}

.prompt_artist_combine select {
	min-width: 7ch;
}

.prompt_artist input {
	width: 150px;
	height: 21px;
	border: 1px solid #ffe300;
	border-radius: 50px;
	box-sizing: border-box;
	padding: 0px 10px;
	background-color: rgba(255, 227, 0, 0.2);
	color: #ffe300;
	font-family: inherit;
	font-size: inherit;
	opacity: 0.8;
}

.prompt_artist input:focus{
	outline: none;
	border-width: 2px;
	opacity: 1;
}

.prompt_artist input:hover {
	opacity: 1;
}

.prompt_artist input:valid {
	border-color: #00ffe6;
	background-color: #00ffe62e;
	color: #00ffe6;
}

#prompt_artist_search {
	display: none;
	width: 180px;
	max-height: 100px;
	overflow-y: scroll;
	position: absolute;
	left: 0;
	bottom: 91px;
	border-radius: 10px;
	border: 1px solid #333;
	box-sizing: border-box;
	padding: 10px;
	background-color: #222;
	box-shadow: 0 5px 10px #00000090;
	font-size: 12px;
	opacity: 0;
	transition: left 200ms ease-out;
}

#prompt_artist_search.show {
	display: block;
	opacity: 1;
}

#prompt_artist_search div {
	opacity: 0.5;
	cursor: pointer;
}

#prompt_artist_search div:hover {
	opacity: 0.8;
}

#prompt_builder #prompt_builder_hide {
	visibility: hidden;
	flex-grow: 0;
	width: 33px;
	height: 33px;
	padding: 0 9px;
	box-sizing: border-box;
	cursor: pointer;
	color: #00ffe6;
	overflow: hidden;
	box-shadow: -5px 0 5px #000000;
	transition: visibility 0ms 500ms;
}

#prompt_builder #prompt_builder_hide::after {
	content: '';
	max-width: 14px;
	height: 8px;
	clip-path: polygon(5% 0, 95% 0, 100% 15%, 55% 100%, 45% 100%, 0 15%);
	background-color: #00ffe6;
	padding: 0 9px;
}

#prompt_builder.show #prompt_builder_hide {
	visibility: visible;
	opacity: 0.8;
}

#prompt_builder.show #prompt_builder_hide:hover {
	opacity: 1;
}

#prompt_result {
	display: flex;
	flex-direction: row;
	gap: 10px;
	font-size: 12px;
}

#prompt_result > div {
	display: flex;
	position: relative;
	flex-grow: 1;
	align-items: center;
	height: 33px;
	max-width: calc(100% - 135px);
	overflow-x: scroll;
	padding: 0 5px;
	border-radius: 50px;
	box-sizing: border-box;
	border: 1px solid #333;
	background-color: #222;
	color: rgb(160,160,160);
	white-space: nowrap;
	opacity: 1;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#prompt_result div::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

#prompt_result > div::after {
	content: 'press the / key for more info about this prompt';
	opacity: 0;
	display: block;
	visibility: hidden;
	position: absolute;
	bottom: 5px;
	right: 15px;
	padding: 2px 10px;
	border-radius: 50px;
	background-color: #222;
	box-shadow: 0 0 10px #222;
	color: #777;
}

#prompt_result > div:first-child:hover::after {
	visibility: visible;
	opacity: 1;
	transition: opacity 50ms 1000ms linear;
}

#prompt_result b {
	font-style: normal;
	font-weight: bold;
	color: #00ffe6;
	margin: 0 4px;
}

#prompt_result i {
	font-style: normal;
	font-weight: bold;
	color: #ffe300;
	margin: 0 4px;
}

#prompt_result #prompt_result_editable {
	font-style: normal;
	font-weight: bold;
	margin: 0 4px;
}

#prompt_result:hover #prompt_result_editable {
	color: rgb(255,255,255);
}

#prompt_result #prompt_result_copy {
	flex-grow: 0;
	display: flex;
	align-items: center;
	padding: 0 8px;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
	background-color: #ffe300;
	color: #000;
	font-weight: bold;
	opacity: 0.8;
}

#prompt_result #prompt_result_copy:hover {
	opacity: 1;
	transition: opacity 100ms linear;
}

#layout.edit_mode #edit_most_used {
	font-weight: bold;
	color: #ff0000;
}

#layout.edit_mode .top_control,
#layout.edit_mode .divider,
#layout.edit_mode #options_prompts,
#layout.edit_mode #options_tag_sort,
#layout.edit_mode #options_artist_sort,
#layout.edit_mode #options_info,
#layout.edit_mode .category .count {
	visibility: hidden;
}

#layout.edit_mode .category {
	color: #fff;
	opacity: 0.5;
}

#layout.edit_mode .category:hover {
	cursor: default;
	opacity: 0.5;
}

#layout.edit_mode [data-category-name="important"] {
	opacity: 1;
	color: #ffe300;
}

#layout.edit_mode [data-category-name="important"]:hover {
	opacity: 1;
}

#layout.edit_mode #toggles .was_moved {
	font-weight: bold;
	color: #ffe300;
}

#layout.edit_mode #toggles input {
	visibility: hidden;
}

#layout.edit_mode #toggles .most_used_indicator {
	visibility: visible;
}

#layout.edit_mode #favorite_label {
	cursor: default;
}